@include touch() {
    .button.is-medium {
        font-size: 1.1rem;
    }
    .button.is-large {
        font-size: 1.3rem;
    }
}

/*
|--------------------------------------------------------------------------
| Clickable
|--------------------------------------------------------------------------
*/

@mixin clickable-active {
    .clickable-button {
        opacity: 1;
        @include transform(translate(-50%, -50%));
    }
    .clickable-content {
        opacity: 0.5;
    }
}

.clickable {

    position: relative;
    text-align: center;
    cursor: pointer;
    display: block;

    .clickable-button {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        opacity: 0;
        @include transform(translate(-50%, 0%));
        @include transition(0.2s);
    }

    .clickable-content {
        @include transition(0.2s);
    }

    &:hover {
        @include clickable-active;
    }

    &.show-on-mobile {
        @include touch() {
            @include clickable-active;
        }
    }
    
}

/*
|--------------------------------------------------------------------------
| Responsive utils
|--------------------------------------------------------------------------
*/

@include mobile() {
    .button {
        font-size: 1rem;
    }
    .button.is-medium {
        font-size: 1.1rem;
    }
    .button.is-large {
        font-size: 1.2rem;
    }
}