/*
|--------------------------------------------------------------------------
| Responsive utils
|--------------------------------------------------------------------------
*/

@include touch() {
    .button {
        font-size: 1rem;
    }
    .button.is-medium {
        font-size: 1.1rem;
    }
    .button.is-large {
        font-size: 1.2rem;
    }
}