.cta {
    .hero {
        background-image: url('~assets/img/bg/cta.jpg');
        background-position: center;
        background-size: cover;
        padding: 80px 0;
        text-align: center;

        .title {
            max-width: none;
        }

        .subtitle {
            max-width: none;
            margin-top: -1.25rem !important;
        }
    }

    .selections {
        display: flex;
    }

    .selection {
        border: none;
        box-shadow: none;
        cursor: pointer;
        outline: none;
        text-align: left;
        position: relative;
        flex-grow: 1;
        padding: 30px 20px;
        background-color: #fff;
        border-bottom: 1px solid $white-ter;
        border-right: 1px solid $white-ter;
        font-size: 1.3rem;
        font-family: $font-family-title;
        font-weight: $weight-semibold;

        &:last-child {
            border-right: none;
        }

        .selection-circle {
            height: 22px;
            width: 22px;
            border: 1px $grey-lighter solid;
            border-radius: 30px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            @include transition(0.2s);
        }

        .selection-icon {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -3px;
            margin-right: 10px;
        }

        .selection-label {
            font-size: 1.3rem;
            display: inline-block;
            vertical-align: middle;
            color: $grey-dark;
            font-weight: $weight-normal;
            font-family: $family-sans-serif;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            @include transition(0.2s);
            @include transform(scaleY(0));
        }
        
        &.is-active {
            &:after {
                @include transform(scaleY(1));
            }
            .selection-circle {
                border-width: 7px;
            }
            &.is-process-optimisation {
                &:after {
                    background-color: $process-optimisation;
                }
                .selection-circle {
                    border-color: $process-optimisation;
                }
            }
            &.is-e-commerce {
                &:after {
                    background-color: $e-commerce;
                }
                .selection-circle {
                    border-color: $e-commerce;
                }
            }
            &.is-custom-application {
                &:after {
                    background-color: $custom-application;
                }
                .selection-circle {
                    border-color: $custom-application;
                }
            }
        }
    }

    .service-image-wrapper {
        text-align: center;
        overflow: hidden;
    }

    .service-image {
        padding-top: 20px;
        max-width: 450px;
        height: 340px;
        display: block;
    }

    .service-content {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        p {
            font-size: 1.2rem;
            color: $grey-dark;
        }

        .button {
            margin-top: 20px;
        }
    }
}