.is-cta {

    .heading {
        color: #fff;
        font-size: 1.5rem;
    }

    .buttons {
        margin-top: 40px;
        justify-content: center;
    }

    .service {
        max-width: 700px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .hero-body {
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: 140%;

        @include mobile() {
            background-image: none;
        }
    }

    .hero-body.is-process-optimisation {
        background-image: url('~assets/img/services/process-optimisation/illustration.svg');
    }
    .hero-body.is-e-commerce {
        background-image: url('~assets/img/services/e-commerce/illustration.svg');
    }
    .hero-body.is-custom-application {
        background-image: url('~assets/img/services/custom-application/illustration.svg');
    }
}