$image-padding: 6rem;

.diptych {
    position: relative;
    overflow: hidden;

    .diptych-body {
        @include tablet() {
            padding: 7rem 1.5rem;
            width: 60%;
        }
        @include mobile() {
            padding: 1.5rem;
        }
        @include fullhd() {
            width: 50%;
        }
    }

    .diptych-image {

        @include tablet() {
            position: absolute;
            left: 60%;
            top: 0;
            height: 100%;
            padding-left: $image-padding;

            img {
                height: 100%;
                width: auto;
                max-height: none;
                max-width: none;
            }
        }
        @include fullhd() {
            left: 50%;
        }
        @include mobile() {
            padding-top: 2rem; 
        }

        &.is-cover {

            @include tablet() {

                img {
                    object-fit: cover;
                    width: 100%;
                }
                
                width: 40%;
            }

            @include fullhd() {
                width: 50%;
            }
        }
    }

    &.is-right {
        .diptych-body {
            @include tablet() {
                position: relative;
                left: 40%;
            }
            @include fullhd() {
                left: 50%;
            }
        }
        .diptych-image {
            @include tablet() {
                left: auto;
                right: 60%;
                padding-left: 0;
                padding-right: $image-padding;
            }
            @include fullhd() {
                right: 50%;
            }
        }
    }

    &.is-border-bottom {
        border-bottom: 1px solid $white-dark;
    }

    &.is-grey {
        background-color: $white-ter;
    }
}