$image-padding: 6rem;

.diptych {
    position: relative;
    overflow: hidden;

    .diptych-body {
        @include tablet() {
            padding: 5rem 1.5rem;
            width: 60%;
        }
        @include mobile() {
            padding: 2.5rem 1.5rem;
            padding-bottom: 0;
        }
        @include fullhd() {
            width: 50%;
        }
    }

    .diptych-image {

        @include tablet() {
            position: absolute;
            left: 60%;
            top: 0;
            height: 100%;
            padding-left: $image-padding;

            img {
                height: 100%;
                width: auto;
                max-height: none;
                max-width: none;
            }
        }
        @include fullhd() {
            left: 50%;
        }
        @include mobile() {
            padding-top: 2rem; 
        }

        &.is-cover {

            @include tablet() {

                img {
                    object-fit: cover;
                    width: 100%;
                }
                
                width: 40%;
            }

            @include fullhd() {
                width: 50%;
            }
        }
    }

    &.is-right {
        .diptych-body {
            @include tablet() {
                position: relative;
                left: 40%;
            }
            @include fullhd() {
                left: 50%;
            }
        }
        .diptych-image {
            @include tablet() {
                left: auto;
                right: 60%;
                padding-left: 0;
                padding-right: $image-padding;
            }
            @include fullhd() {
                right: 50%;
            }
        }
    }

    &.is-border-bottom {
        border-bottom: 1px solid $white-dark;
    }

    &.is-grey {
        background-color: $white-ter;
    }

    &.is-imageless-mobile {
        @include mobile() {
            .diptych-body {
                padding-bottom: 2.5rem;
            }
            .diptych-image {
                display: none;
            }
        }
    }
}

/**
  * Animations
  */

.diptych .diptych-image {

    @include transition(0.2s);

    &.before-enter {
        opacity: 0;
        @include transform(translateX(100px));
    }

    &.enter {
        opacity: 1;
        @include transform(translateX(0px));
    }
}

.diptych.is-right .diptych-image.before-enter {
    @include transform(translateX(-100px));
}