.footer {
    padding: 1.5rem;
    padding-top: 8rem;
    background-color: $white-ter;

    @include touch() {
        padding-top: 4rem;
    }

    @include mobile() {
        text-align: center;
    }

    .footer-title {
        font-weight: $weight-semibold;
        margin-bottom: 35px;
        font-size: $size-5;

        @include mobile() {
            margin-bottom: 15px;
        }
    }

    .footer-link, p {
        display: block;
        color: $grey-dark;
        margin-bottom: 10px;
    }

    p {
        @include tablet() {
            padding-right: 100px;
        }
    }

    .footer-bottom {
        margin-top: 50px;
        width: 100%;
        
        @include tablet() {
            display: flex;
            justify-content: space-between;
        }

        .footer-bottom-left, .footer-bottom-right {
            display: block;
        }

        .footer-bottom-left {
            margin-bottom: 1.2rem;
            img, span {
                display: inline-block;
                vertical-align: middle;
            }
            img {
                opacity: 0.3;
                width: 32px;
            }
            span {
                font-size: 0.9rem;
                color: $grey;
                padding-left: 15px;
            }
        }
        .footer-bottom-right {
            a:not(:first-child) {
                margin-left: 13px;
            }
            .icon {
                color: $grey;
                font-size: 1.4rem;
                height: auto;
                width: auto;
            }
        }
    }
}