.form {
    position: relative; // for loading
}

.input, .textarea, .select {
    border-color: $white-ter;
    background-color: $white-ter;
}

.select select {
    border-color: $white-ter;
    background-color: $white-ter;
}

.label {
    font-weight: $weight-semibold;
}
