body {
    width: 100%;
    overflow: hidden;
}

.wrapper {
    padding-top: $navbar-height;
}

/*
|--------------------------------------------------------------------------
| Container
|--------------------------------------------------------------------------
*/

.container.is-sm {
    max-width: 800px;
}

.container.is-xs {
    max-width: 600px;
}

/*
|--------------------------------------------------------------------------
| Hero
|--------------------------------------------------------------------------
*/

.hero {
    background-position: center;
    background-size: cover;
    position: relative;

    .hero-body {
        @include tablet() {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
    }

    &.is-large {
        .hero-body {
            @include touch() {
                padding: 7rem 1.5rem;
            }
            @include mobile() {
                padding: 4rem 1.5rem;
            }
        }
    }

    &.is-fullheight {
        @include touch() {
            min-height: initial;
            .scroll-to {
                display: none;
            }
        }
    }
}

.wrapper .hero.is-main .hero-body {
    @include mobile() {
        padding-top: 3rem;
    }
}

.hero.is-main {
    text-align: left;
    border-bottom: solid 1px $white-ter;

    @include mobile() {
        text-align: center;
        .hero-body {
            padding-top: 4rem;
        }
    }

    .icon {
        margin-bottom: 20px;
    }

    .heading {
        margin-bottom: 7px;
    }

    .title {
        font-size: 3rem;

        @include mobile() {
            font-size: 2rem;
        }
    }

    .subtitle {
        font-size: 1.4rem;
        line-height: 1.4;
        opacity: 0.9;

        @include mobile() {
            font-size: 1.2rem;
        }
    }

    &.is-dark {
        * {
            color: #fff;
        }
    }

    &.is-center {
        text-align: center;
        .title, .subtitle {
            max-width: none;
        }
    }
}

.hero.is-half {
    .title, .subtitle {
        @include tablet() {
            max-width: 50%;
        }
    }
}

.hero.is-default {
    background-image: url('~assets/img/bg/default.svg');
}

.hero.is-business {
    background-image: url('~assets/img/bg/business.jpg');

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }
}

.hero.is-quote {
    .title {
        font-weight: $weight-light;
        font-family: $family-sans-serif;

        strong {
            font-weight: $weight-semibold;
        }
    }
}

.hero.has-border-top {
    border-top: solid 1px $white-ter;
}

.hero.has-border-bottom {
    border-bottom: solid 1px $white-ter;
}

/*
|--------------------------------------------------------------------------
| Section
|--------------------------------------------------------------------------
*/

.section {
    @include tablet() {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.section.is-grey {
    background-color: $white-ter;
}

.section.has-border-bottom {
    border-bottom: solid 1px $white-ter;
}

.section.is-fullheight {

    @include tablet() {
        min-height: 70vh;
    }
}

/*
|--------------------------------------------------------------------------
| Columns
|--------------------------------------------------------------------------
*/

.columns.is-clients {
    .column img {
        width: 180px;
    }
}
