/*
|--------------------------------------------------------------------------
| Body
|--------------------------------------------------------------------------
*/

body {
    width: 100%;
    overflow: hidden;
}

/*
|--------------------------------------------------------------------------
| Wrapper
|--------------------------------------------------------------------------
*/

.wrapper {
    padding-top: $navbar-height;
}

/*
|--------------------------------------------------------------------------
| Container
|--------------------------------------------------------------------------
*/

.container.is-sm {
    max-width: 800px;
}

.container.is-xs {
    max-width: 600px;
}

/*
|--------------------------------------------------------------------------
| Hero
|--------------------------------------------------------------------------
*/

.hero {
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-body {
    @include tablet() {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.hero.has-border-top {
    border-top: solid 1px $white-ter;
}

.hero.has-border-bottom {
    border-bottom: solid 1px $white-ter;
}

/*
|--------------------------------------------------------------------------
| Section
|--------------------------------------------------------------------------
*/

.section {
    @include tablet() {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.section.is-grey {
    background-color: $white-ter;
}

.section.has-border-bottom {
    border-bottom: solid 1px $white-ter;
}

.section.is-fullheight {

    @include tablet() {
        min-height: 70vh;
    }
}
