.navbar {

    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    background-color: #fff;
    @include transition(0.2s);

    .navbar-brand img {
        @include desktop() {
            height: 2.5rem;
            max-height: 2.5rem;
            margin-right: 1rem;
        }
        @include touch() {
            height: 2rem;
            max-height: 2rem;
        }
    }

    .navbar-link::after {
        border-color: $grey;
    }

    .is-bold {
        @include desktop() {
            font-family: $font-family-title;
            font-size: 1.1rem;
            font-weight: $weight-semibold;
        }
    }

    &.is-active {
        box-shadow: none;
    }

    @include touch() {
        .navbar-brand {
            z-index: 1;
            padding-left: 0.8rem;
        }
        .navbar-menu {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            height: calc(100vh - 4.25rem);
            width: 100%;
            position: fixed;
            padding-left: 1rem;
            top: $navbar-height;
            overflow: auto;
            z-index: 0;
            box-shadow: none;
        }
        .navbar-burger {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent !important;
            
            .icon {
                font-size: 2em;
            }
        }
        
        .navbar-item, .navbar-link {
            font-weight: $weight-semibold;
            color: $black-bis;
            text-transform: none !important;
            font-size: 1.3rem;
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
        }
        .navbar-start {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
        .navbar-end {
            margin-top: 1rem;
        }
        .navbar-end .navbar-item {
            font-weight: $weight-light;
            font-size: 1rem;
        }
        .navbar-bottom {
            margin-top: 0;
            padding-bottom: 0.5rem;

            .socials {
                padding-top: 1.5rem;
                padding-left: 0.5rem;
                a:not(:first-child) {
                    margin-left: 13px;
                }
                .icon {
                    color: $grey;
                    font-size: 1.4rem;
                    height: auto;
                    width: auto;
                }
            }
        }

        &.is-active {
            .navbar-menu {
                display: flex;
            }
        }
    }
}

// Services

.navbar-dropdown.is-services {
    padding: 0;
    overflow: hidden;

    @include touch() {
        padding-bottom: 0.3rem;
    }

    .navbar-item {
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
        
        @include desktop() {
            border-bottom: 1px solid $white-dark;
            padding: 10px 0;
        }
        
        @include touch() {
            padding: 0.1rem 0.7rem;
        }
    }

    .navbar-item .navbar-media {

        @include desktop() {
            padding: 15px 10px;
            padding-right: 20px;
            width: 100%;
            display: flex;
            align-items: center;

            &:last-child {
                border: none;
            }

            &:hover {
                background-color: $white-ter !important;
            }

            .icon {
                margin-right: 10px;
                font-size: 2em;
                padding: 0 20px;
            }

            span {
                span, strong {
                    display: block;
                    line-height: 1.2em;
                    color: $grey-dark;
                    font-size: 1.1em;
                }
                strong {
                    font-weight: $weight-semibold;
                }
                span {
                    font-weight: $weight-light;
                }
            }
        }

        @include touch() {
            padding: 0;
            span span {
                display: none;
            }
            .icon {
                display: none;
            }
            span strong {
                font-weight: $weight-light;
                color: $black-bis;
                font-size: 1.1rem;
            }
        }
    }
}

// Transparent modifiers

.navbar.is-transparent:not(.is-active) {
    background-color: transparent;
    box-shadow: none;

    @include desktop {
        .navbar-end, .navbar-start {
            &> .navbar-item {
                color: $white;
            }
        }
        .navbar-link {
            color: #fff;
            &::after {
                border-color: #fff;
            }
        }
    }
    
    .navbar-burger {
        background-color: transparent;

        .icon {
            color: #fff;
        }
    }
}

// Dropdown icon

.select:not(.is-multiple):not(.is-loading)::after, .navbar-link::after {
    border-width: 2px;
    border-radius: 0px;
    height: 0.5em;
    width: 0.5em;
    margin-top: -0.31em;
}