.post {
    .post-picture {
        width: 100%;
        margin-bottom: 50px;
    }

    .content {
        font-size: 1.2rem;

        @include mobile() {
            font-size: 1.1rem;
        }

        p {
            text-align: justify;
        }
    }
}