.project-card {
    
    display: block;
    margin-bottom: 30px;

    .card-image {
        border-radius: 5px;
        overflow: hidden;
    }

    .card-content {
        padding: 20px 0;

        .title {
            @include desktop() {
                margin-top: 20px;
            }
            margin-bottom: 20px;
        }

        .subtitle {
            color: $grey;
        }
    }
}

.project-summary {
    .project-summary-item {
        margin-bottom: 30px;
        .heading {
            color: $black;
            margin-bottom: 10px;
        }
        a {
            line-height: 1.7rem;
            font-size: 2rem;
            color: $primary;

            .icon {
                font-size: 1.4rem;
            }
        }
    }
}

.page-boursify {
    .hero.is-main {
        background-image: url('~assets/img/projects/boursify/bg.jpg');
    }
}

.page-start-alberta {
    .hero.is-main {
        background-image: url('~assets/img/projects/start-alberta/hero.jpg');
    }
}

.page-sauver {
    .hero.is-main {
        background-image: url('~assets/img/projects/sauver/hero.jpg');
    }
    .hero.is-quote {
        background-color: #006DE0;
        .title {
            color: #fff;
        }
    }
}
