
.scroll-to {
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-size: 2em;
    padding: 20px;
    cursor: pointer;
    @include transform(translateX(-31px));

    .icon {
        margin: 0 !important;
        @include animation(bounce 3s infinite);
    }
}

@keyframes bounce {
	40% {
		@include transform(translateY(0));
		opacity: 1;
	}
	49% {
		@include transform(translateY(10px));
		opacity: 0;
	}
	51% {
		@include transform(translateY(-10px));
		opacity: 0;
	}
	60% {
		@include transform(translateY(0px));
		opacity: 1;
	}
}