
$scroll-to-size: 60px;
$scroll-to-size-touch: 50px;

.scroll-to {
    position: absolute;
    bottom: $scroll-to-size / 2;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: #fff;
    width: $scroll-to-size;
    height: $scroll-to-size;
	border-radius: $scroll-to-size;
    cursor: pointer;
    box-shadow: $box-shadow;
    @include transform(translateX(-$scroll-to-size / 2));
    @include transition(transform 0.3s);

    @include touch() {
		position: relative;
        @include transform(translateX(-$scroll-to-size-touch / 2));
        bottom: $scroll-to-size-touch / 2;
        width: $scroll-to-size-touch;
        height: $scroll-to-size-touch;
        border-radius: $scroll-to-size-touch;
    }

    .icon {
		margin: 0 !important;
		@include animation(bounce 3s infinite);
		
		i {
			color: $black !important;
		}
    }
    
    &:hover {
        @include transform(translateX(-30px) scale(1.1));
    }

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: $scroll-to-size;
        display: block;
        height: 100%;
        width: 100%;
        content: '';
        @include transform(scale(1));
        @include transition(0.3s);
        border: 2px solid #fff;
    }
    
    &:hover {
        &:after {
            @include transform(scale(2));
            opacity: 0;
        }
    }
}

@keyframes bounce {
	40% {
		@include transform(translateY(0));
		opacity: 1;
	}
	49% {
		@include transform(translateY(10px));
		opacity: 0;
	}
	51% {
		@include transform(translateY(-10px));
		opacity: 0;
	}
	60% {
		@include transform(translateY(0px));
		opacity: 1;
	}
}