.page-services {

    .section {
        border-bottom: 1px solid $white-ter;
        padding: 80px 0;

        .icon.is-circle {
            margin-bottom: 20px;
        }

        .button {
            margin-top: 30px;
        }

        p {
            color: $grey;
            font-size: 1.2rem;
        }

        .illustration {
            padding: 0 4rem;
        }
    }
}

.service-item {

    margin-bottom: 20px;

    .icon.is-circle {
        margin-bottom: 25px;
    }

    .title, .subtitle {
        font-family: $family-sans-serif;
        margin: 0 !important;
    }

    .title {
        font-size: 1.2rem;
    }
    
    .subtitle {
        font-size: 1.2rem;
    }
}

$phase-icon-size: 40px;

.phase {
    margin-top: $phase-icon-size / 2;
    position: relative;
    box-shadow: $box-shadow;
    padding: 1.1rem;
    padding-top: 1.3rem;
    padding-bottom: 0.9rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    
    .title {
        font-size: 1.3rem;
        color: $grey;
        font-weight: $weight-medium;
    }

    .tag {
        background-color: #efefef;
        color: #666;
        border: 2px solid #e1e1e1;
        position: absolute;
        top: -$phase-icon-size/2;
        left: 50%;
        border-radius: $phase-icon-size;
        height: $phase-icon-size;
        width: $phase-icon-size;
        font-size: 1.1rem;
        @include transform(translateX(-$phase-icon-size/2))
    }
}


// Pages

.page-process-optimisation, .page-e-commerce, .page-custom-application {
    .hero.is-main .hero-body {
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: right;
    }
}

.page-process-optimisation {
    .hero.is-main .hero-body {
        background-image: url('~assets/img/services/process-optimisation/illustration.svg');
    }
}

.page-e-commerce {
    .hero.is-main .hero-body {
        background-image: url('~assets/img/services/e-commerce/illustration.svg');
    }
}

.page-custom-application {
    .hero.is-main .hero-body {
        background-image: url('~assets/img/services/custom-application/illustration.svg');
    }
}