/* purgecss start ignore */

/*
 |--------------------------------------------------------------------------
 | Page transition
 |--------------------------------------------------------------------------
 */

.page-enter-active, .page-leave-active {
  @include transition(all 0.2s cubic-bezier(0.23, 1, 0.32, 1));
}

.page-enter {
  @include transform(translateX(-100px));
  opacity: 0;
}

.page-leave-active {
  @include transform(translateX(100px));
  opacity: 0;
}

/*
 |--------------------------------------------------------------------------
 | Fade
 |--------------------------------------------------------------------------
 */

.fade-enter-active, .fade-leave-active {
  @include transition(0.2s cubic-bezier(0.23, 1, 0.32, 1));
}

.fade-enter, .fade-leave-active {
  opacity: 0 !important;
}

/*
 |--------------------------------------------------------------------------
 | Slide Up
 |--------------------------------------------------------------------------
 */

.slideUp-enter-active, .slideUp-leave-active {
  @include transition(all 0.2s cubic-bezier(0.23, 1, 0.32, 1));
}

.slideUp-enter, .slideUp-leave-active {
  @include transform(translateY(60px));
  opacity: 0;
}

/*
 |--------------------------------------------------------------------------
 | Slide Right
 |--------------------------------------------------------------------------
 */

.slideRight-enter-active, .slideRight-leave-active {
  @include transition(all 0.3s cubic-bezier(0.23, 1, 0.32, 1));
}

.slideRight-enter, .slideRight-leave-active {
  @include transform(translateX(-100%));
}

/*
 |--------------------------------------------------------------------------
 | Slide Right
 |--------------------------------------------------------------------------
 */

.slideLeft-enter-active, .slideLeft-leave-active {
  @include transition(all 0.3s cubic-bezier(0.23, 1, 0.32, 1));
}

.slideLeft-enter, .slideLeft-leave-active {
  @include transform(translateX(100%));
}

/*
 |--------------------------------------------------------------------------
 | Slide Scale
 |--------------------------------------------------------------------------
 */

.scale-enter-active, .scale-leave-active {
  @include transition(all .2s cubic-bezier(0.23, 1, 0.32, 1));
}

.scale-enter, .scale-leave-active {
  @include transform(scale(1.2));
  opacity: 0;
}

/*
 |--------------------------------------------------------------------------
 | Slide Left Right
 |--------------------------------------------------------------------------
 */

.slideLeftRight-enter-active, .slideLeftRight-leave-active {
  @include transition(all 0.4s cubic-bezier(0.23, 1, 0.32, 1));
}

.slideLeftRight-enter {
  @include transform(translateX(-200px));
  opacity: 0;
}

.slideLeftRight-leave-active {
  @include transform(translateX(200px));
  opacity: 0;
}

/* purgecss end ignore */