@media screen and (min-width: 768px) {
    body .Masthead {
        min-height: 30vh;
    }
}

body .Masthead__image.is-parallax > img {
    -o-object-position: center;
    object-position: center;
}

body .Masthead__image {
    height: 150%;
}
